@import "../../../public/static/scss/reset.scss";
@import "../../../public/static/scss/style.scss";

.copyright {
  background-color: $bg-black;
  border-top: 1px solid #323a43;
  .copyright_container {
    margin: auto;
    text-align: center;
    padding: 3% 0;
    .copyright_container_content {
      @include text($text-gray, 12px);
      @include montserrat;
      span {
        @include text($primary, 12px);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .copyright {
    .copyright_container {
      padding: 7% 0;
      width: 80%;
    }
  }
}

@media screen and (max-width: 500px) {
  .copyright {
    .copyright_container {
      .copyright_container_content {
        @include text($text-gray, 16px);
        span {
          @include text($primary, 16px);
        }
      }
    }
  }
}
