@import "../../../public/static/scss/reset.scss";
@import "../../../public/static/scss/style.scss";

.navbar {
  padding: 20px;
  height: 80px;
  box-shadow: 0px 2px 4px rgba(1, 14, 40, 0.05);
  .navbar_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .navbar_search {
      max-width: 30%;

    }
    .navbar_welcome {
      max-width: 20%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        @include text($text-bold, 14px);
        @include montserrat-bold;
        span {
          @include text($primary, 14px);
        }
      }
      .logout {
        width: 30%;
        img {
          max-width: 50%;
        }
      }
    }
  }
}
