@import "../../../public/static/scss/reset.scss";
@import "../../../public/static/scss/style.scss";

@media screen and (min-width: 1537px) {
  .substrate {
    background-image: url("/static/images/site-under-construction.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 960px;
  }
}

@media screen and (max-width: 1536px) {
  .substrate {
    background-image: url("/static/images/site-under-construction.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 768px;
  }
}
