@import "../../../public/static/scss/reset.scss";
@import "../../../public/static/scss/style.scss";

.substrate {
  background-image: url("/static/images/site-under-construction.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 768px;
}
