@import "../../../public/static/scss/reset.scss";
@import "../../../public/static/scss/style.scss";

.step5 {
  .step5_container {
    margin-left: auto;
    width: 85%;
    padding: 8% 0;
    .step5_box {
      @include flex(row-reverse, space-between, null, null);
      .step5_box_left {
        flex: 56%;
        max-width: 56%;
        position: relative;

        .step5_box_left_img {
          width: 100%;
          position: absolute;
          z-index: 10;
          top: 0;
          left: 0;
          img {
            max-width: 100%;
          }
        }
      }
      .step5_box_right {
        flex: 44%;
        max-width: 44%;
        padding: 2% 2% 0 0;

        .step5_box_right_title {
          @include text($text-bold, 38.4px);
          @include montserrat-bold;
          padding: 20px 0;
        }

        .step5_box_right_subcontent {
          @include text($text-light, 14.4px);
          @include montserrat;
          padding: 0 0 20px 0;
          line-height: 150%;
          text-align: justify;
        }
      }
    }
  }
}

@media screen and (max-width: 993px) {
  .step5 {
    margin-top: 2%;
    .step5_container {
      margin: auto;
      .step5_box {
        @include flex(column, center, null, null);
        .step5_box_left {
          flex: 100%;
          max-width: 100%;
          .step5_box_left_img {
            width: 100%;
            position: static;
          }
        }
        .step5_box_right {
          flex: 100%;
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .step5 {
    margin-top: 15%;
    .step5_container {
      .step5_box {
        .step5_box_left {
        }
        .step5_box_right {
          .step5_box_right_title {
            @include text($text-bold, 28px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 481px) {
  .step5 {
    margin-top: 60%;
  }
}
