@import "../../../public/static/scss/reset.scss";
@import "../../../public/static/scss/style.scss";

.carousel {
  @include montserrat;
  font-size: 18px;
  background: #f6f6f6;
  color: #6b7787;
}
.carousel-2 {
  @include montserrat-bold;
  font-size: 18px;
}
.carousel-3 {
  @include montserrat-light;
  font-size: 18px;
}
.carousel-4 {
  @include montserrat-medium;
  font-size: 18px;
}
.carousel-5 {
  @include montserrat-semibold;
  font-size: 18px;
}
