@import "../../../public/static/scss/reset.scss";
@import "../../../public/static/scss/style.scss";

@media screen and (min-width: 1537px) {
  .monitoring {
    .monitoring_container {
      @include flex(row, null, null, null);

      .monitoring_left {
        flex: 50%;
        max-width: 50%;
        background-color: $primary-sub;

        .monitoring_left_box {
          padding: 20% 12% 20% 23%;
          .monitoring_left_box_title {
            @include text($text-white, 48px);
            @include montserrat-bold;
            padding: 20px 0;
            line-height: 130%;
          }
          .monitoring_left_box_content {
            @include text($text-white, 18px);
            @include montserrat-bold;
            padding: 0 0 20px 0;
            line-height: 150%;
            text-align: justify;
          }
          .monitoring_left_box_subcontent {
            @include text($text-white, 18px);
            @include montserrat;
            margin-top: 10px;
            line-height: 150%;
            opacity: 1;
            text-align: justify;
          }
        }
      }
      .monitoring_right {
        background-image: url("/static/images/variety_bg_03_v2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 960px;
        flex: 50%;
        max-width: 50%;
        img {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1536px) {
  .monitoring {
    .monitoring_container {
      @include flex(row, null, null, null);

      .monitoring_left {
        flex: 50%;
        max-width: 50%;
        background-color: $primary-sub;

        .monitoring_left_box {
          padding: 20% 12% 20% 23%;
          .monitoring_left_box_title {
            @include text($text-white, 38.4px);
            @include montserrat-bold;
            padding: 20px 0;
            line-height: 130%;
          }
          .monitoring_left_box_content {
            @include text($text-white, 14.4px);
            @include montserrat-bold;
            padding: 0 0 20px 0;
            line-height: 150%;
            text-align: justify;
          }
          .monitoring_left_box_subcontent {
            @include text($text-white, 14.4px);
            @include montserrat;
            margin-top: 10px;
            line-height: 150%;
            opacity: 1;
            text-align: justify;
          }
          .monitoring_left_box_profile {
            margin-top: 30px;
            a {
              @include text(#000, 15px);
              @include montserrat;
              text-decoration: none;
              &:hover {
                @include text(#fff, 15px);
              }
            }
            &::before {
              font-family: "FontAwesome";
              content: "\f0a4";
              font-size: 15px;
              color: #000;
              margin-right: 10px;
            }
          }
        }
      }
      .monitoring_right {
        background-image: url("/static/images/variety_bg_03_v2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 768px;
        flex: 50%;
        max-width: 50%;
        img {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 993px) {
  .monitoring {
    .monitoring_container {
      @include flex(column, null, null, wrap);
      .monitoring_left {
        flex: 100%;
        max-width: 100%;
        .monitoring_left_box {
          padding: 5% 5%;
        }
      }
      .monitoring_right {
        flex: 100%;
        max-width: 100%;
        img {
          display: block;
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .monitoring {
    .monitoring_container {
      .monitoring_left {
        .monitoring_left_box {
          .monitoring_left_box_title {
            @include text($text-white, 26px);
          }
          .monitoring_left_box_content {
            @include text($text-white, 16px);
            text-align: left;
          }
          .monitoring_left_box_subcontent {
            text-align: left;
            @include text($text-white, 16px);
          }
        }
      }
    }
  }
}
