@import "../../public/static/scss/reset.scss";
@import "../../public/static/scss/style.scss";

.profile {
  background-image: url("/static/images/profile_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 768px;
  .profile_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .theme-dark {
      #fsw_backContainer_998467 {
        background: none;
      }
      #fsw-watermark {
        display: none;
      }
    }
  }
}
