@import "../../../public/static/scss/reset.scss";
@import "../../../public/static/scss/style.scss";

@media screen and (min-width: 1537px) {
  .tomato_03 {
    background-image: url("/static/images/variety_bg_05_v2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 960px;
    position: relative;
    .tomato_03_container {
      width: 100%;
      @include flex(row, center, null, null);
      position: absolute;
      top: 26%;
      left: -16%;
      .tomato_03_box {
        width: 42%;
        background-color: $primary-sub;
        padding: 2% 4%;

        .tomato_03_box_title {
          @include text($text-white, 48px);
          @include montserrat-bold;
          padding: 0 0 20px 0;
          line-height: 115%;
        }
        .tomato_03_box_content {
          @include text($text-white, 18px);
          @include montserrat-bold;
          padding: 0 0 20px 0;
          line-height: 150%;
          text-align: justify;
        }
        .tomato_03_box_subcontent {
          @include text($text-white, 18px);
          @include montserrat;
          line-height: 150%;
          opacity: 0.8;
          text-align: justify;
        }
      }
    }
  }
}

@media screen and (max-width: 1536px) {
  .tomato_03 {
    background-image: url("/static/images/variety_bg_05_v2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 768px;
    position: relative;
    .tomato_03_container {
      width: 100%;
      @include flex(row, center, null, null);
      position: absolute;
      top: 26%;
      left: -16%;
      .tomato_03_box {
        width: 42%;
        background-color: $primary-sub;
        padding: 2% 4%;

        .tomato_03_box_title {
          @include text($text-white, 38.4px);
          @include montserrat-bold;
          padding: 0 0 20px 0;
          line-height: 115%;
        }
        .tomato_03_box_content {
          @include text($text-white, 14.4px);
          @include montserrat-bold;
          padding: 0 0 20px 0;
          line-height: 150%;
          text-align: justify;
        }
        .tomato_03_box_subcontent {
          @include text($text-white, 14.4px);
          @include montserrat;
          line-height: 150%;
          opacity: 0.8;
          text-align: justify;
        }
      }
    }
  }
}

@media screen and (max-width: 993px) {
  .tomato_03 {
    .tomato_03_container {
      top: 30%;
      right: 3%;
      .tomato_03_box {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .tomato_03 {
    .tomato_03_container {
      top: 50%;
      .tomato_03_box {
        width: 75%;
        padding: 2% 7%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .tomato_03 {
    margin-bottom: 100px;
    .tomato_03_container {
      top: 50%;
      left: 0;
      opacity: 0.9;

      .tomato_03_box {
        width: 100%;
        padding: 2% 5%;
        .tomato_03_box_title {
          @include text($text-white, 26px);
        }
        .tomato_03_box_content {
          @include text($text-white, 16px);
          text-align: left;
        }
        .tomato_03_box_subcontent {
          @include text($text-white, 16px);
          text-align: left;
        }
      }
    }
  }
}
