@import "../../../public/static/scss/reset.scss";
@import "../../../public/static/scss/style.scss";

.main_agreso_news {
  .main_agreso_news_container {
    width: 75%;
    margin: auto;
    padding: 26px 0;
    .main_agreso_news_title {
      border-left: 4px solid $primary;
      p {
        @include text($text-bold, 19.2px);
        @include montserrat-semibold;
        margin-left: 15px;
      }
    }
    .main_agreso_news_box {
      @include flex(row, space-between, null, wrap);
      .main_agreso_news_box_item {
        flex: 32%;
        max-width: 32%;
        margin-top: 20px;
      }
    }
  }
}
.main_agreso_tips {
  .main_agreso_tips_container {
    width: 75%;
    margin: auto;
    padding: 26px 0;
    .main_agreso_tips_title {
      border-left: 4px solid $primary;
      p {
        @include text($text-bold, 19.2px);
        @include montserrat-semibold;
        margin-left: 15px;
      }
    }
    .main_agreso_tips_box {
      @include flex(row, space-between, null, wrap);
      .main_agreso_tips_box_item {
        flex: 32%;
        max-width: 32%;
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .main_agreso_news {
    .main_agreso_news_container {
      width: 85%;
    }
  }
  .main_agreso_tips {
    .main_agreso_tips_container {
      width: 85%;
    }
  }
}

@media screen and (max-width: 768px) {
  .main_agreso_news {
    .main_agreso_news_container {
      .main_agreso_news_box {
        .main_agreso_news_box_item {
          flex: 48%;
          max-width: 48%;
        }
      }
    }
  }
  .main_agreso_tips {
    .main_agreso_tips_container {
      .main_agreso_tips_box {
        .main_agreso_tips_box_item {
          flex: 48%;
          max-width: 48%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .main_agreso_news {
    .main_agreso_news_container {
      .main_agreso_news_box {
        .main_agreso_news_box_item {
          flex: 100%;
          max-width: 100%;
        }
      }
    }
  }
  .main_agreso_tips {
    .main_agreso_tips_container {
      .main_agreso_tips_box {
        .main_agreso_tips_box_item {
          flex: 100%;
          max-width: 100%;
        }
      }
    }
  }
}
