@import "../../../public/static/scss/reset.scss";
@import "../../../public/static/scss/style.scss";

@media screen and (min-width: 1537px) {
  .step2 {
    background-image: url("/static/images/project_bg_02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 960px;
    position: relative;
    .step2_container {
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: -7%;
      right: 19%;
      .step2_box {
        width: 42%;
        background-color: $primary-sub;
        padding: 2% 4%;
        .step2_box_title {
          @include text($text-white, 48px);
          @include montserrat-bold;
          padding: 0 0 20px 0;
          line-height: 115%;
        }
        .step2_box_content {
          @include text($text-white, 18px);
          @include montserrat-bold;
          padding: 0 0 20px 0;
          line-height: 150%;
          text-align: justify;
        }
        .step2_box_subcontent {
          @include text($text-white, 18px);
          @include montserrat;
          line-height: 150%;
          opacity: 0.8;
          text-align: justify;
        }
      }
    }
  }
}

@media screen and (max-width: 1536px) {
  .step2 {
    background-image: url("/static/images/project_bg_02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 768px;
    position: relative;
    .step2_container {
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: -7%;
      right: 19%;
      .step2_box {
        width: 42%;
        background-color: $primary-sub;
        padding: 2% 4%;

        .step2_box_title {
          @include text($text-white, 38.4px);
          @include montserrat-bold;
          padding: 0 0 20px 0;
          line-height: 115%;
        }
        .step2_box_content {
          @include text($text-white, 14.4px);
          @include montserrat-bold;
          padding: 0 0 20px 0;
          line-height: 150%;
          text-align: justify;
        }
        .step2_box_subcontent {
          @include text($text-white, 14.4px);
          @include montserrat;
          line-height: 150%;
          opacity: 0.8;
          text-align: justify;
        }
      }
    }
  }
}

@media screen and (max-width: 1229px) {
  .step2 {
    .step2_container {
      .step2_box {
        width: 45%;
        padding: 2% 3%;
      }
    }
  }
}

@media screen and (max-width: 993px) {
  .step2 {
    .step2_container {
      .step2_box {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .step2 {
    .step2_container {
      right: 10%;
      .step2_box {
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .step2 {
    margin-top: 50px;
    .step2_container {
      top: 60%;
      bottom: 0;
      .step2_box {
        width: 80%;
        right: 10%;

        .step2_box_title {
          @include text($text-white, 26px);
        }
        .step2_box_content {
          @include text($text-white, 16px);
          text-align: left;
        }
        .step2_box_subcontent {
          @include text($text-white, 16px);
          text-align: left;
        }
      }
    }
  }
}
