@import "../../../public/static/scss/reset.scss";
@import "../../../public/static/scss/style.scss";

.touch {
  background-image: url("/static/images/commercial_bg_03.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 768px;
  .touch_container {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20% 0 0% 0;
    .touch_title {
      @include text($text-white, 38.4px);
      @include montserrat-bold;
      padding: 20px 0;
      line-height: 130%;
    }
    .touch_content {
      @include text($text-white, 14.4px);
      @include montserrat;
      padding: 0 0 20px 0;
      width: 90%;
      margin: auto;
      line-height: 150%;
    }
    .touch_btn {
      @include flex(row, center, null, null);
      margin-top: 3%;
      .touch_btn_box {
        background-color: $primary;
        padding: 15px 39px;
        @include border-radius(7px);
        @include transition(all, 0.5s);
        &:hover {
          box-shadow: 0 1px 1px 0 rgba(90, 122, 190, 0.1),
            0 10px 20px 0 rgba(90, 122, 190, 0.2);
          background-color: white;
          @include transition(all, 0.5s);
        }
        &:hover a {
          @include text($primary, 14.4px);
          @include transition(all, 0.5s);
        }
        a {
          @include text($text-white, 14.4px);
          @include montserrat-medium;
          text-transform: uppercase;
          @include transition(all, 0.5s);
          &:hover {
            @include text($primary, 14.4px);
            @include transition(all, 0.5s);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .touch {
    .touch_container {
      width: 75%;
    }
  }
}

@media screen and (max-width: 500px) {
  .touch {
    .touch_container {
      width: 80%;
      padding: 90% 0 0% 0;
      .touch_title {
        @include text($text-white, 28px);
      }
    }
  }
}
