@import "../../../public/static/scss/reset.scss";
@import "../../../public/static/scss/style.scss";

@media screen and (min-width: 1537px) {
  .touch {
    background-image: url("/static/images/commercial_bg_03.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 960px;
    background-attachment: fixed;
    .touch_container {
      width: 50%;
      margin: auto;
      text-align: center;
      padding: 20% 0 0% 0;
      .touch_title {
        @include text($text-white, 48px);
        @include montserrat-bold;
        padding: 20px 0;
        line-height: 130%;
      }
      .touch_content {
        @include text($text-white, 18px);
        @include montserrat;
        padding: 0 0 20px 0;
        width: 90%;
        margin: auto;
        line-height: 150%;
      }
      .touch_btn {
        @include flex(row, center, null, null);
        margin-top: 3%;
        .touch_btn_box {
          background-color: $primary;
          padding: 15px 39px;
          @include border-radius(7px);
          @include transition(all, 0.5s);
          @include text($text-white, 18px);
          @include montserrat-medium;
          text-transform: uppercase;
          &:hover {
            box-shadow: 0 1px 1px 0 rgba(90, 122, 190, 0.1),
              0 10px 20px 0 rgba(90, 122, 190, 0.2);
            background-color: white;
            @include transition(all, 0.5s);
            @include text($primary, 18px);
          }
        }
      }
    }
  }
  .order_form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1001;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: white;
    min-width: 400px;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
    @include border-radius(10px);
    @include transition(all, 0.5s);
    .order_form-header {
      text-align: center;
      padding: 20px 30px;
      box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
      h2 {
        text-transform: uppercase;
        @include text($text-bold, 15px);
      }
    }
    .order_form-body {
      text-align: center;
      padding: 20px 30px;
      .form-error {
        @include text(red, 13px);
        @include montserrat;
        margin-bottom: 20px;
      }
      .order_form-btn {
        margin-top: 3%;
        .order_form-btn_container {
          background-color: $primary;
          padding: 15px 50px;
          @include border-radius(7px);
          @include transition(all, 0.5s);
          &:hover {
            box-shadow: 0 1px 1px 0 rgba(90, 122, 190, 0.1),
              0 10px 20px 0 rgba(90, 122, 190, 0.2);
            background-color: white;
            border: 2px solid $primary;
            padding: 15px 50px;
            @include transition(all, 0.5s);
            cursor: pointer;
          }
          &:hover a {
            @include text($primary, 14.4px);
            @include transition(all, 0.5s);
            cursor: pointer;
          }
          a {
            @include text($text-white, 14.4px);
            @include montserrat-medium;
            text-transform: uppercase;
            @include transition(all, 0.5s);
            &:hover {
              @include text($primary, 14.4px);
              @include transition(all, 0.5s);
            }
          }
        }
      }
    }

    .close-order_form-btn {
      width: 30px;
      height: 30px;
      @include border-radius(50%);
      line-height: 30px;
      text-align: center;
      background-color: $primary;
      color: white;
      position: absolute;
      top: -10px;
      right: -10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .open-form {
    visibility: visible !important;
    opacity: 1 !important;
    @include transition(all, 0.5s);
  }

  .bg_overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  .swal2-header {
    .title-class {
      color: white;
    }
  }
}

@media screen and (max-width: 1536px) {
  .touch {
    background-image: url("/static/images/commercial_bg_03.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 768px;
    background-attachment: fixed;
    .touch_container {
      width: 50%;
      margin: auto;
      text-align: center;
      padding: 20% 0 0% 0;
      .touch_title {
        @include text($text-white, 38.4px);
        @include montserrat-bold;
        padding: 20px 0;
        line-height: 130%;
      }
      .touch_content {
        @include text($text-white, 14.4px);
        @include montserrat;
        padding: 0 0 20px 0;
        width: 90%;
        margin: auto;
        line-height: 150%;
      }
      .touch_btn {
        @include flex(row, center, null, null);
        margin-top: 3%;
        .touch_btn_box {
          background-color: $primary;
          padding: 15px 39px;
          @include border-radius(7px);
          @include transition(all, 0.5s);
          @include text($text-white, 14.4px);
          @include montserrat-medium;
          text-transform: uppercase;
          &:hover {
            box-shadow: 0 1px 1px 0 rgba(90, 122, 190, 0.1),
              0 10px 20px 0 rgba(90, 122, 190, 0.2);
            background-color: white;
            @include transition(all, 0.5s);
            @include text($primary, 14.4px);
            cursor: pointer;
          }
        }
      }
    }
  }

  .order_form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1001;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: white;
    min-width: 350px;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
    @include border-radius(10px);
    @include transition(all, 0.5s);
    .order_form-header {
      text-align: center;
      padding: 20px 30px;
      box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
      h2 {
        text-transform: uppercase;
        @include text($text-bold, 15px);
      }
    }
    .order_form-body {
      text-align: center;
      padding: 20px 30px;
      .form-error {
        @include text(red, 13px);
        @include montserrat;
        margin-bottom: 20px;
      }
      .order_form-btn {
        margin-top: 3%;
        .order_form-btn_container {
          background-color: $primary;
          padding: 15px 50px;
          @include border-radius(7px);
          @include transition(all, 0.5s);
          &:hover {
            box-shadow: 0 1px 1px 0 rgba(90, 122, 190, 0.1),
              0 10px 20px 0 rgba(90, 122, 190, 0.2);
            background-color: white;
            border: 2px solid $primary;
            padding: 15px 50px;
            @include transition(all, 0.5s);
            cursor: pointer;
          }
          &:hover a {
            @include text($primary, 14.4px);
            @include transition(all, 0.5s);
            cursor: pointer;
          }
          a {
            @include text($text-white, 14.4px);
            @include montserrat-medium;
            text-transform: uppercase;
            @include transition(all, 0.5s);
            &:hover {
              @include text($primary, 14.4px);
              @include transition(all, 0.5s);
            }
          }
        }
      }
    }

    .close-order_form-btn {
      width: 30px;
      height: 30px;
      @include border-radius(50%);
      line-height: 30px;
      text-align: center;
      background-color: $primary;
      color: white;
      position: absolute;
      top: -10px;
      right: -10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .open-form {
    visibility: visible !important;
    opacity: 1 !important;
    @include transition(all, 0.5s);
  }

  .bg_overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  .swal2-header {
    .title-class {
      color: white;
    }
  }
}

@media screen and (max-width: 1200px) {
  .touch {
    .touch_container {
      width: 75%;
    }
  }
}

@media screen and (max-width: 500px) {
  .touch {
    background-attachment: unset;
    .touch_container {
      width: 90%;
      padding: 90% 0 0% 0;
      .touch_title {
        @include text($text-white, 26px);
      }
      .touch_content {
        @include text($text-white, 16px);
        width: 100%;
      }
    }
  }
  .order_form-container {
    min-width: 320px;
  }
}
