@import "../../../public/static/scss/reset.scss";
@import "../../../public/static/scss/style.scss";

.footer {
  background-color: $bg-black;
  .footer_container {
    width: 66.67%;
    margin: auto;
    padding: 6% 0;
    .footer_box {
      @include flex(row, space-between, null, null);
      .footer_box_item {
        flex: 28%;
        max-width: 28%;
      }
      .item_about {
        .item_about_title {
          @include text($text-white, 16px);
          @include montserrat-medium;
          text-transform: uppercase;
        }
        .item_about_description {
          @include text($text-gray, 12px);
          @include montserrat;
          line-height: 150%;
          margin-top: 30px;
        }
      }
      .item_service {
        .item_service_title {
          @include text($text-white, 16px);
          @include montserrat-medium;
          text-transform: uppercase;
        }
        .item_service_menu {
          margin-top: 30px;
          @include flex(row, space-between, null, null);
          .item_service_menu_left,
          .item_service_menu_right {
            .item_service_menu_left_item,
            .item_service_menu_right_item {
              a {
                @include text($text-gray, 12px);
                @include montserrat;
                line-height: 150%;
                &:hover {
                  @include text($primary, 12px);
                }
              }
            }
          }
        }
      }
      .item_contact {
        .item_contact_title {
          @include text($text-white, 16px);
          @include montserrat-medium;
          text-transform: uppercase;
        }
        .item_contact_box {
          margin-top: 30px;
          .item_contact_item {
            margin-top: 5px;
            i {
              color: $primary;
              font-size: 23px;
            }
            span {
              @include text($text-gray, 12px);
              @include montserrat;
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    .footer_container {
      .footer_box {
        @include flex(column, null, null, null);
        .footer_box_item {
          flex: 80%;
          max-width: 80%;
          margin-top: 7%;
        }
        .item_about {
          .item_about_description {
            margin-top: 10px;
          }
        }
        .item_service {
          .item_service_menu {
            margin-top: 10px;
          }
        }
        .item_contact {
          .item_contact_box {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .footer {
    .footer_container {
      width: 85%;
      .footer_box {
        .footer_box_item {
          flex: 100%;
          max-width: 100%;
        }
        .item_about {
          .item_about_title {
            @include text($text-white, 18px);
          }
          .item_about_description {
            @include text($text-gray, 16px);
          }
        }
        .item_service {
          .item_service_title {
            @include text($text-white, 18px);
          }
          .item_service_menu {
            @include flex(row, space-between, null, null);
            .item_service_menu_left,
            .item_service_menu_right {
              .item_service_menu_left_item,
              .item_service_menu_right_item {
                a {
                  @include text($text-gray, 16px);

                  &:hover {
                    @include text($primary, 16px);
                  }
                }
              }
            }
          }
        }
        .item_contact {
          .item_contact_title {
            @include text($text-white, 18px);
          }
          .item_contact_box {
            .item_contact_item {
              margin-top: 15px;
              span {
                @include text($text-gray, 16px);
              }
            }
          }
        }
      }
    }
  }
}
