@import "../../../public/static/scss/reset.scss";
@import "../../../public/static/scss/style.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 15.2px 0 15px 0;
  @include transition(all, 0.2s);
  .header_container {
    margin: auto;
    width: 75%;

    .header_box {
      @include flex(row, space-between, center, wrap);
      
      .header_logo {
        img {
          width: auto;
          height: 78px;
        }
        .logo_change {
          height: 60px;
        }
      }
    }

    .header_main_menu_container {
      // Desktop Menu
      .header_main_menu {
        @include flex(row, flex-start, center, null);
        position: relative;
        .header_main_menu_item {
          margin: 0 17px;
          padding: 20px 0;
          .header_main_menu_item_a {
            @include text($text-normal, 14.4px);
            @include montserrat-medium;
            text-transform: uppercase;
            @include transition(all, 0.2s);
            &:hover {
              @include text($primary, 14.4px);
              @include transition(all, 0.2s);
            }
          }
          .arrow-down {
            &::after {
              font-family: "FontAwesome";
              content: "\f107";
              font-size: 14.4px;
              color: $text-normal;
              margin-left: 11.2px;
            }
            &:hover::after {
              color: $primary;
            }
          }
          &:hover .header_sub_menu {
            visibility: visible;
            opacity: 1;
            @include transition(all, 0.5s);
          }
          &:hover .header_sub_menu_material {
            visibility: visible;
            opacity: 1;
            @include transition(all, 0.5s);
          }
          .header_sub_menu {
            position: absolute;
            top: 60px;
            @include flex(row, space-between, null, null);
            visibility: hidden;
            opacity: 0;
            @include transition(all, 0.5s);
            .header_sub_menu_item {
              .header_sub_menu_item_a {
                @include text($text-normal, 12.8px);
                @include montserrat-medium;
                padding: 10px 20px;
                background-color: $primary;
                @include border-radius(8px);
              }
            }
          }
          .header_sub_menu_material {
            position: absolute;
            top: 60px;
            right: 15%;
            @include flex(row, space-between, null, null);
            visibility: hidden;
            opacity: 0;
            @include transition(all, 0.5s);
            .header_sub_menu_item {
              .header_sub_menu_item_a {
                @include text($text-normal, 12.8px);
                @include montserrat-medium;
                padding: 10px 20px;
                background-color: $primary;
                @include border-radius(8px);
              }
            }
          }
        }
      }
      // Mobile Menu
      .btn__collapse {
        display: none;
        color: $primary;
        font-size: 25px;
      }
    }
  }
}

.header_change {
  background: linear-gradient(white, rgb(247, 237, 237));
  opacity: 0.9;
  @include transition(all, 0.2s);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1229px) {
  .header {
    .header_container {
      width: 90%;
      .header_box {
      }
      .header_main_menu_container {
        .header_main_menu {
          .header_main_menu_item {
            .header_main_menu_item_a {
              @include text($text-normal, 13px);

              &:hover {
                @include text($primary, 13px);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 993px) {
  .header {
    padding: 10px 0 10px 0;
    .header_container {
      .header_box {
        .header_logo {
          img {
            height: 58px;
          }
        }
      }

      .header_main_menu_container {
        .header_main_menu {
          display: none;
        }
        .btn__collapse {
          display: block;
        }
      }
    }
  }

  /* 
        Mobile Menu Decorator
        
    */
  .MuiDrawer-root {
    .MuiDrawer-paper {
      .header_mobile {
        max-width: 250px;
        .header_mobile_menu {
          padding: 15px;
          .header_mobile_menu_item {
            margin-top: 20px;
            .header_mobile_menu_item_a {
              @include text($text-normal, 14.4px);
              @include montserrat-medium;
              text-transform: uppercase;
            }
            .arrow-down {
              &::after {
                font-family: "FontAwesome";
                content: "\f107";
                font-size: 14.4px;
                color: $text-normal;
                margin-left: 11.2px;
              }
            }
            .header_mobile_sub_menu {
              padding: 0px 0 0 10px;
              border-left: 1px dotted gray;
              .header_mobile_sub_menu_item {
                margin-top: 20px;
                .header_mobile_sub_menu_item_a {
                  @include text($text-normal, 12.8px);
                  @include montserrat-medium;
                  // padding: 6px 0px;
                  // background-color: $primary;
                  // @include border-radius(8px);
                }
              }
            }
          }
        }
      }
    }
  }
}
