@import "../../../public/static/scss/reset.scss";
@import "../../../public/static/scss/style.scss";

.register {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  .register_container {
    @include flex(row, null, null, null);
    margin-top: 3%;
    .register_box {
      background-color: $primary;
      padding: 15px 50px;
      @include border-radius(7px);
      @include transition(all, 0.5s);
      &:hover {
        box-shadow: 0 1px 1px 0 rgba(90, 122, 190, 0.1),
          0 10px 20px 0 rgba(90, 122, 190, 0.2);
        background-color: white;
        border: 2px solid $primary;
        padding: 13px 48px;
        @include transition(all, 0.5s);
      }
      &:hover a {
        @include text($primary, 14.4px);
        @include transition(all, 0.5s);
      }
      a {
        @include text($text-white, 14.4px);
        @include montserrat-medium;
        text-transform: uppercase;
        @include transition(all, 0.5s);
        &:hover {
          @include text($primary, 14.4px);
          @include transition(all, 0.5s);
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .register {
    .register_container {
      .register_box {
        padding: 15px 25px;
        a {
          @include text($text-white, 13px);

          &:hover {
            @include text($primary, 13px);
          }
        }
      }
    }
  }
}
