@import "../../../public/static/scss/reset.scss";
@import "../../../public/static/scss/style.scss";

.step4 {
  background-image: url("/static/images/project_bg_03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 768px;
  position: relative;
  .step4_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 26%;
    right: 7%;
    .step4_box {
      width: 42%;
      background-color: $primary-sub;
      padding: 2% 4%;

      .step4_box_title {
        @include text($text-white, 38.4px);
        @include montserrat-bold;
        padding: 0 0 20px 0;
        line-height: 115%;
      }
      .step4_box_content {
        @include text($text-white, 14.4px);
        @include montserrat-bold;
        padding: 0 0 20px 0;
        line-height: 150%;
        text-align: justify;
      }
      .step4_box_subcontent {
        @include text($text-white, 14.4px);
        @include montserrat;
        line-height: 150%;
        opacity: 0.8;
        text-align: justify;
      }
    }
  }
}

@media screen and (max-width: 993px) {
  .step4 {
    .step4_container {
      top: 30%;
      right: 3%;
      .step4_box {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .step4 {
    .step4_container {
      top: 60%;
      .step4_box {
        width: 75%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .step4 {
    .step4_container {
      top: 70%;
      .step4_box {
        width: 85%;

        .step4_box_title {
          @include text($text-white, 26px);
        }
        .step4_box_content {
          @include text($text-white, 14.4px);
          text-align: left;
        }
        .step4_box_subcontent {
          @include text($text-white, 14.4px);
          text-align: left;
        }
      }
    }
  }
}
