@import "../../../public/static/scss/reset.scss";
@import "../../../public/static/scss/style.scss";

@media screen and (min-width: 1537px) {
  .unique {
    .unique_container {
      margin: auto;
      width: 75%;
      padding: 8% 0;
      .unique_box {
        @include flex(row-reverse, space-between, null, null);
        .unique_box_left {
          flex: 45%;
          max-width: 45%;
          position: relative;

          .unique_box_left_frame {
            position: absolute;
            top: 8%;
            left: 4%;
            width: 95%;
            height: 93%;
            border: 12px solid $primary;
          }
          .unique_box_left_img {
            width: 95%;
            position: absolute;
            z-index: 10;
            top: 0;
            left: 12%;
            img {
              max-width: 100%;
            }
          }
        }
        .unique_box_right {
          flex: 48%;
          max-width: 48%;
          padding: 10% 0;
          .unique_box_right_title {
            @include text($text-bold, 48px);
            @include montserrat-bold;
            padding: 20px 0;
          }
          .unique_box_right_content {
            @include text($text-bold, 18px);
            @include montserrat-bold;
            padding: 0 0 20px 0;
            line-height: 150%;
            text-align: justify;
          }
          .unique_box_right_subcontent {
            @include text($text-light, 18px);
            @include montserrat;
            padding: 0 0 20px 0;
            line-height: 150%;
            text-align: justify;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1536px) {
  .unique {
    .unique_container {
      margin: auto;
      width: 75%;
      padding: 8% 0;
      .unique_box {
        @include flex(row-reverse, space-between, null, null);
        .unique_box_left {
          flex: 45%;
          max-width: 45%;
          position: relative;

          .unique_box_left_frame {
            position: absolute;
            top: 8%;
            left: 4%;
            width: 95%;
            height: 93%;
            border: 9.6px solid $primary;
          }
          .unique_box_left_img {
            width: 95%;
            position: absolute;
            z-index: 10;
            top: 0;
            left: 12%;
            img {
              max-width: 100%;
            }
          }
        }
        .unique_box_right {
          flex: 48%;
          max-width: 48%;
          padding: 10% 0;
          .unique_box_right_title {
            @include text($text-bold, 38.4px);
            @include montserrat-bold;
            padding: 20px 0;
          }
          .unique_box_right_content {
            @include text($text-bold, 14.4px);
            @include montserrat-bold;
            padding: 0 0 20px 0;
            line-height: 150%;
            text-align: justify;
          }
          .unique_box_right_subcontent {
            @include text($text-light, 14.4px);
            @include montserrat;
            padding: 0 0 20px 0;
            line-height: 150%;
            text-align: justify;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .unique {
    .unique_container {
      .unique_box {
        @include flex(row-reverse, space-between, null, null);
        .unique_box_left {
          .unique_box_left_frame {
            width: 95%;
            height: 80%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 993px) {
  .unique {
    .unique_container {
      .unique_box {
        @include flex(column, center, null, null);
        .unique_box_left {
          flex: 100%;
          max-width: 100%;
          .unique_box_left_img {
            width: 100%;
            position: static;
          }
          .unique_box_left_frame {
            height: 97%;
            left: 12%;
          }
        }
        .unique_box_right {
          flex: 100%;
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .unique {
    .unique_container {
      width: 85%;
      .unique_box {
        .unique_box_left {
          .unique_box_left_frame {
            border: 5px solid $primary;
            height: 100%;
            left: 8%;
          }
        }
        .unique_box_right {
          margin-top: 20px;
          .unique_box_right_title {
            @include text($text-bold, 26px);
          }
          .unique_box_right_content {
            @include text($text-bold, 16px);
            text-align: left;
          }
          .unique_box_right_subcontent {
            @include text($text-light, 16px);
            text-align: left;
          }
        }
      }
    }
  }
}
